    body {
      background-color: black;
      color: white;
      font-family: Arial, sans-serif;
    }

    /* Class styles */
    .custom-h1 {
      font-size: 20px;
    }

    .custom-p {
      font-size: 12px;
      color: lightgray;
    }

    .custom-div {
      border: 2px dotted white;
      width: 100px;
      height: 100px;
    }

    .custom-ol {
      list-style-type: lower-alpha; /* Using lowercase letters */
    }

    .custom-ul {
      list-style-type: square; /* Using squares */
    }